<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.fukiapi.home.mapper.HomeNewMapper" >
  <resultMap id="BaseResultMap" type="com.demo.fukiapi.home.po.HomeNew" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="image_path" property="imagePath" jdbcType="VARCHAR" />
    <result column="location" property="location" jdbcType="VARCHAR" />
    <result column="is_live" property="isLive" jdbcType="BIT" />
    <result column="live_path" property="livePath" jdbcType="VARCHAR" />
    <result column="languages" property="languages" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, image_path, location, is_live, live_path, languages
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.demo.fukiapi.home.po.HomeNewExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from home_new
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from home_new
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from home_new
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.demo.fukiapi.home.po.HomeNewExample" >
    delete from home_new
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.demo.fukiapi.home.po.HomeNew" >
    insert into home_new (id, image_path, location, 
      is_live, live_path, languages
      )
    values (#{id,jdbcType=INTEGER}, #{imagePath,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR}, 
      #{isLive,jdbcType=BIT}, #{livePath,jdbcType=VARCHAR}, #{languages,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.demo.fukiapi.home.po.HomeNew" >
    insert into home_new
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="imagePath != null" >
        image_path,
      </if>
      <if test="location != null" >
        location,
      </if>
      <if test="isLive != null" >
        is_live,
      </if>
      <if test="livePath != null" >
        live_path,
      </if>
      <if test="languages != null" >
        languages,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="imagePath != null" >
        #{imagePath,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="isLive != null" >
        #{isLive,jdbcType=BIT},
      </if>
      <if test="livePath != null" >
        #{livePath,jdbcType=VARCHAR},
      </if>
      <if test="languages != null" >
        #{languages,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.demo.fukiapi.home.po.HomeNewExample" resultType="java.lang.Integer" >
    select count(*) from home_new
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update home_new
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.imagePath != null" >
        image_path = #{record.imagePath,jdbcType=VARCHAR},
      </if>
      <if test="record.location != null" >
        location = #{record.location,jdbcType=VARCHAR},
      </if>
      <if test="record.isLive != null" >
        is_live = #{record.isLive,jdbcType=BIT},
      </if>
      <if test="record.livePath != null" >
        live_path = #{record.livePath,jdbcType=VARCHAR},
      </if>
      <if test="record.languages != null" >
        languages = #{record.languages,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update home_new
    set id = #{record.id,jdbcType=INTEGER},
      image_path = #{record.imagePath,jdbcType=VARCHAR},
      location = #{record.location,jdbcType=VARCHAR},
      is_live = #{record.isLive,jdbcType=BIT},
      live_path = #{record.livePath,jdbcType=VARCHAR},
      languages = #{record.languages,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.demo.fukiapi.home.po.HomeNew" >
    update home_new
    <set >
      <if test="imagePath != null" >
        image_path = #{imagePath,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="isLive != null" >
        is_live = #{isLive,jdbcType=BIT},
      </if>
      <if test="livePath != null" >
        live_path = #{livePath,jdbcType=VARCHAR},
      </if>
      <if test="languages != null" >
        languages = #{languages,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.demo.fukiapi.home.po.HomeNew" >
    update home_new
    set image_path = #{imagePath,jdbcType=VARCHAR},
      location = #{location,jdbcType=VARCHAR},
      is_live = #{isLive,jdbcType=BIT},
      live_path = #{livePath,jdbcType=VARCHAR},
      languages = #{languages,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>