<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 配置处理器映射器 springmvc框架根据HandlerMapping接口判断是否是处理器映射器 -->
    <!-- 根据bean的name进行查找Handler 将action的url配置在bean的name中 -->
    <!--<bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>-->

    <!-- 配置处理器适配器 springmvc框架根据HandlerAdapter接口判断是否是处理器适配器 -->
    <!--<bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"/>-->

    <!--配置视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--<bean name="/itemList.action" class="com.demo.springmvc.controller.ItemController"/>-->

    <!--HttpRequestHandler-->
    <!--<bean class="org.springframework.web.servlet.mvc.HttpRequestHandlerAdapter"/>-->

    <!--<bean name="/itemList1.action" class="com.demo.springmvc.controller.ItemController1"/>-->

    <!--注解Controller-->
    <context:component-scan base-package="com.demo.springmvc.controller"/>

    <!--处理器映射器-->
    <!--<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>-->

    <!--<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"/>-->

    <!--下面的可以替代处理器映射器和处理器适配器-->
    <!--<mvc:annotation-driven/>-->

    <!--自定义绑定,使用属性编辑器-老方法-->
    <!--注册属性编辑器-->
    <!--<bean id="customPropertyEditor" class="com.demo.springmvc.controller.propertyeditor.CustomPropertyEditor"/>-->

    <!--处理器映射器-->
    <!--<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>-->

    <!-- 自定义webBinder -->
    <!--<bean id="customBinder" class="org.springframework.web.bind.support.ConfigurableWebBindingInitializer">-->
    <!-- 使用converter进行参数转 -->
    <!--<property name="conversionService" ref="conversionService" />-->

    <!-- propertyEditorRegistrars用于属性编辑器 -->
    <!--<property name="propertyEditorRegistrars">-->
    <!--<list>-->
    <!--<ref bean="customPropertyEditor"/>-->
    <!--</list>-->
    <!--</property>-->
    <!--</bean>-->

    <!-- 处理器适配器-注解适配器 -->
    <!--<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">-->
    <!-- 在webBindingInitializer中注入自定义属性编辑器、自定义转换器 -->
    <!--<property name="webBindingInitializer" ref="customBinder"/>-->
    <!--</bean>-->


    <!--自定义参数绑定使用转化器-->
    <bean id="conversionService"
          class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
            <list>
                <bean class="com.demo.springmvc.controller.converter.CustomDateConverter"/>
                <bean class="com.demo.springmvc.controller.converter.StringTrimConverter"/>
            </list>
        </property>
    </bean>
    <!--方法一:不适用   mvc-annotation-driven-->
    <!--注册使用转化器-->

    <!--参考 自定义webBinder 和 处理器适配器-注解适配器 -->

    <!--方法二：使用   mvc-annotation-driven-->
    <!-- 通过annotation-driven可以替代下边的处理器映射器和适配器 -->
    <mvc:annotation-driven conversion-service="conversionService"/>

    <!--文件上传-->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="maxUploadSize">
            <value>5242880</value>
        </property>
    </bean>

</beans>