<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--商品管理 的Service-->
    <bean id="itemService" class="com.demo.springmvc.service.impl.ItemServiceImpl">
    </bean>

    <context:component-scan base-package="com.demo.springmvc.controller"/>
    <context:component-scan base-package="com.demo.springmvc.service"/>
    <context:component-scan base-package="com.demo.springmvc.service.impl"/>

    <!--funki-->
    <bean id="homeNewService" class="com.demo.fukiapi.home.service.HomeNewServiceImpl">
    </bean>
    <context:component-scan base-package="com.demo.fukiapi.home.service"/>
    <context:component-scan base-package="com.demo.fukiapi.home.controller"/>

</beans>